In [1]:
# Importing basic libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Removing warnings at output
import warnings
warnings.filterwarnings('ignore')

In [3]:
file=pd.read_csv('Segmentdata.csv',parse_dates=['InvoiceDate']) # Parsing 'InvoiceDate' as date format
file['UnitPrice'] = file['UnitPrice'].apply(np.int64) # Changing 'UnitPrice' to 'int' data type
file.head() # Checking 1st 5 rows of the segmented data

,InvoiceDate,Invoice Time,CustomerID,InvoiceNo,StockCode,Description,Country,Quantity,UnitPrice,Revenue,Items availability,revenue_buckets,price_buckets,final_revenue
0,2017-12-14,6:00,AVpgMuGwLJeJML43KY_c,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom,6,2,15.30,In Stock,Very Good,Medium,20
1,2017-08-09,5:00,AVpgMuGwLJeJML43KY_c,536365,71053,WHITE METAL LANTERN,United Kingdom,6,3,20.34,In Stock,Excellent,High,30
2,2017-10-10,5:00,AVpgMuGwLJeJML43KY_c,536365,84406B,CREAM CUPID HEARTS COAT HANGER,United Kingdom,8,2,22.00,In Stock,Excellent,High,30
3,2017-08-28,7:00,AVpgMuGwLJeJML43KY_c,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom,6,3,20.34,In Stock,Excellent,High,30
4,2017-10-24,4:00,AVpgMuGwLJeJML43KY_c,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom,6,3,20.34,In Stock,Excellent,High,30

In [4]:
# Calculating unique items and countries in segmented data
print("number of unique items :",file.Description.nunique())
print("number of unique country:",file.Country.nunique())

number of unique items : 2439
number of unique country: 5

In [5]:
# Assigning numerical values for 'Country' column
Labels = {'United Kingdom': 1,'Greece': 2,'Malta':3,'Canada':4,'United Arab Emirates':5} 

file.Country = [Labels[item] for item in file.Country]

In [6]:
# Filtering rows in file with Top10 'Description' values and assigning it to new variable
f1=file.loc[file['Description'].isin(['VINTAGE UNION JACK MEMOBOARD','WOOD BLACK BOARD ANT WHITE FINISH','CREAM HEART CARD HOLDER','REGENCY CAKESTAND 3 TIER',
   'WHITE HANGING HEART T-LIGHT HOLDER','BLACK HEART CARD HOLDER','PARTY BUNTING','ASSORTED COLOUR BIRD ORNAMENT',
   'MEMO BOARD RETROSPOT  DESIGN','EMPIRE DESIGN ROSETTE'])]

# Assigning numerical values for Top10 'Description'
Mask = {'VINTAGE UNION JACK MEMOBOARD':1,'WOOD BLACK BOARD ANT WHITE FINISH':2,'CREAM HEART CARD HOLDER':3,
       'REGENCY CAKESTAND 3 TIER':4,'WHITE HANGING HEART T-LIGHT HOLDER':5,'BLACK HEART CARD HOLDER':6,
       'PARTY BUNTING':7,'ASSORTED COLOUR BIRD ORNAMENT':8,'MEMO BOARD RETROSPOT  DESIGN':9,
       'EMPIRE DESIGN ROSETTE':10}

f1.Description = [Mask[item] for item in f1.Description]

In [7]:
# Assigning numerical values to 'price_buckets'
M1= {'Critical':1,'Low':2,'Medium':3,'High':4,'Very High':5}
f1.price_buckets = [M1[item] for item in f1.price_buckets]

In [8]:
# Assigning numerical values to 'revenue_buckets'
M2= {'Very Low':1,'Low':2,'Good':3,'Very Good':4,'Excellent':5}
f1.revenue_buckets = [M2[item] for item in f1.revenue_buckets]

In [9]:
f1.head() # Checking the new Top10 'Description' wise filtered data

,InvoiceDate,Invoice Time,CustomerID,InvoiceNo,StockCode,Description,Country,Quantity,UnitPrice,Revenue,Items availability,revenue_buckets,price_buckets,final_revenue
0,2017-12-14,6:00,AVpgMuGwLJeJML43KY_c,536365,85123A,5,1,6,2,15.30,In Stock,4,3,20
11,2018-05-26,16:00,AVpe9FXeLJeJML43zHrq,536373,85123A,5,1,6,2,15.30,In Stock,4,3,20
27,2017-09-28,4:00,AV2Z1Efc-jtxr-f39lm6,536375,85123A,5,1,6,2,15.30,In Stock,4,3,20
46,2018-05-26,16:00,AVpi9AE_LJeJML43qkYJ,536384,82484,2,1,3,6,19.35,In Stock,4,5,20
55,2018-05-26,16:00,AVpiSS1A1cnluZ0-LyAY,536384,22189,3,1,4,3,15.80,In Stock,4,4,20

In [10]:
np.random.seed(12345) # Making random function to generate pseudo random numbers
msk = np.random.rand(len(f1)) < 0.7  # Random splitting for dataset with 7:3 
train = f1[msk]  # 70% data
test = f1[~msk]  # 30% data
train.shape, test.shape  # Displaying their rows and columns count

((396, 14), (170, 14))

In [11]:
# Creating a new columns for 'InvoiceDate' to make easier calculations
train['dayofmonth'] = train.InvoiceDate.dt.day
train['dayofyear'] = train.InvoiceDate.dt.dayofyear
train['dayofweek'] = train.InvoiceDate.dt.dayofweek
train['month'] = train.InvoiceDate.dt.month
train['year'] = train.InvoiceDate.dt.year
train['weekofyear'] = train.InvoiceDate.dt.weekofyear
train.head() # Checking new train columns

,InvoiceDate,Invoice Time,CustomerID,InvoiceNo,StockCode,Description,Country,Quantity,UnitPrice,Revenue,Items availability,revenue_buckets,price_buckets,final_revenue,dayofmonth,dayofyear,dayofweek,month,year,weekofyear
11,2018-05-26,16:00,AVpe9FXeLJeJML43zHrq,536373,85123A,5,1,6,2,15.30,In Stock,4,3,20,26,146,5,5,2018,21
27,2017-09-28,4:00,AV2Z1Efc-jtxr-f39lm6,536375,85123A,5,1,6,2,15.30,In Stock,4,3,20,28,271,3,9,2017,39
46,2018-05-26,16:00,AVpi9AE_LJeJML43qkYJ,536384,82484,2,1,3,6,19.35,In Stock,4,5,20,26,146,5,5,2018,21
55,2018-05-26,16:00,AVpiSS1A1cnluZ0-LyAY,536384,22189,3,1,4,3,15.80,In Stock,4,4,20,26,146,5,5,2018,21
68,2017-06-12,3:00,AVpfLsb-ilAPnD_xWtDE,536390,85123A,5,1,64,2,163.20,In Stock,5,3,170,12,163,0,6,2017,24

In [12]:
# Creating a new columns for 'InvoiceDate' to make easier calculations
test['dayofmonth'] = test.InvoiceDate.dt.day
test['dayofyear'] = test.InvoiceDate.dt.dayofyear
test['dayofweek'] = test.InvoiceDate.dt.dayofweek
test['month'] = test.InvoiceDate.dt.month
test['year'] = test.InvoiceDate.dt.year
test['weekofyear'] = test.InvoiceDate.dt.weekofyear
test.head() # Checking new test columns

,InvoiceDate,Invoice Time,CustomerID,InvoiceNo,StockCode,Description,Country,Quantity,UnitPrice,Revenue,Items availability,revenue_buckets,price_buckets,final_revenue,dayofmonth,dayofyear,dayofweek,month,year,weekofyear
0,2017-12-14,6:00,AVpgMuGwLJeJML43KY_c,536365,85123A,5,1,6,2,15.30,In Stock,4,3,20,14,348,3,12,2017,50
83,2018-04-24,15:00,AWIm0C3TYSSHbkXwx3S6,536396,85123A,5,1,6,2,15.30,In Stock,4,3,20,24,114,1,4,2018,17
282,2017-04-12,17:00,AV2ZzbZWvKc47QAVpILS,536464,84879,8,1,8,1,13.52,Out Of Stock,4,3,20,12,102,2,4,2017,15
425,2018-05-27,2:00,AVpfI64PilAPnD_xVyc4,536536,84879,8,1,80,1,135.20,In Stock,5,3,140,27,147,6,5,2018,21
480,2018-05-26,16:00,AVpfAXof1cnluZ0-bz3u,536557,82484,2,1,1,6,6.45,In Stock,3,5,10,26,146,5,5,2018,21

In [13]:
# Factorising numerical columns for train (an alternative for get_dummy)
train['Country']=pd.factorize(train['Country'])[0]
train['Description']=pd.factorize(train['Description'])[0]
train['final_revenue']=pd.factorize(train['final_revenue'])[0]
train['price_buckets']=pd.factorize(train['price_buckets'])[0]
train['revenue_buckets']=pd.factorize(train['revenue_buckets'])[0]
train['dayofmonth']=pd.factorize(train['dayofmonth'])[0]
train['dayofyear']=pd.factorize(train['dayofyear'])[0]
train['dayofweek']=pd.factorize(train['dayofweek'])[0]
train['month']=pd.factorize(train['month'])[0]
train['year']=pd.factorize(train['year'])[0]
train['weekofyear']=pd.factorize(train['weekofyear'])[0]
train['Quantity']=pd.factorize(train['Quantity'])[0]

# Dropping categorical columns
train.drop(['InvoiceDate','Invoice Time','CustomerID','InvoiceNo','StockCode','Items availability','Revenue'],axis=1,inplace=True)
train.shape # Checking rows and columns count

(396, 13)

In [14]:
# Factorising numerical columns for test (an alternative for get_dummy)
test['Country']=pd.factorize(test['Country'])[0]
test['Description']=pd.factorize(test['Description'])[0]
test['final_revenue']=pd.factorize(test['final_revenue'])[0]
test['price_buckets']=pd.factorize(test['price_buckets'])[0]
test['revenue_buckets']=pd.factorize(test['revenue_buckets'])[0]
test['dayofmonth']=pd.factorize(test['dayofmonth'])[0]
test['dayofyear']=pd.factorize(test['dayofyear'])[0]
test['dayofweek']=pd.factorize(test['dayofweek'])[0]
test['month']=pd.factorize(test['month'])[0]
test['year']=pd.factorize(test['year'])[0]
test['weekofyear']=pd.factorize(test['weekofyear'])[0]
test['Quantity']=pd.factorize(test['Quantity'])[0]

# Dropping categorical columns
test.drop(['InvoiceDate','Invoice Time','CustomerID','InvoiceNo','StockCode','Items availability','Revenue'],axis=1,inplace=True)
test.shape # Checking rows and columns count

(170, 13)

In [15]:
X_train = train.drop('UnitPrice', axis=1).values  # Drop the dependent variable
X_test = test.drop('UnitPrice', axis=1).values    # Drop the dependent variable
y_train = train['UnitPrice'].values               # Find the dependent variable
y_test = test['UnitPrice'].values                 # Find the dependent variable

In [16]:
from sklearn.neighbors import KNeighborsClassifier # Importing predictive model function
from sklearn.metrics import mean_squared_error     # MSE for model accuracy

KNN_model= KNeighborsClassifier(n_neighbors=5)     # Setting model parameters
KNN_model.fit(X_train,y_train)


# predict
y_pred = KNN_model.predict(X_test)                  # Predict the test data
# eval
print('The rmse of prediction is:', mean_squared_error(y_test, y_pred) ** 0.5)  # RMSE for accuracy

The rmse of prediction is: 4.460941604639093

In [17]:
train.describe()

,Description,Country,Quantity,UnitPrice,revenue_buckets,price_buckets,final_revenue,dayofmonth,dayofyear,dayofweek,month,year,weekofyear
count,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000,396.000000
mean,2.926768,0.103535,8.045455,4.277778,0.964646,1.156566,5.651515,10.565657,36.012626,2.406566,5.073232,0.674242,14.305556
std,2.619729,0.351327,8.081105,3.474844,0.948690,0.783198,8.403120,8.948982,32.375367,2.126114,3.814986,0.544192,12.152411
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,2.000000,2.000000,0.000000,1.000000,0.000000,2.000000,7.000000,0.000000,1.000000,0.000000,4.000000
50%,3.000000,0.000000,5.000000,3.000000,1.000000,1.000000,3.000000,9.000000,29.000000,2.000000,5.000000,1.000000,12.000000
75%,5.000000,0.000000,10.000000,6.000000,1.000000,2.000000,7.000000,19.000000,59.250000,4.000000,9.000000,1.000000,22.000000
max,9.000000,2.000000,37.000000,12.000000,4.000000,3.000000,39.000000,30.000000,108.000000,6.000000,11.000000,3.000000,45.000000

In [18]:
test.describe()

,Description,Country,Quantity,UnitPrice,revenue_buckets,price_buckets,final_revenue,dayofmonth,dayofyear,dayofweek,month,year,weekofyear
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000
mean,2.323529,0.105882,6.388235,4.117647,1.076471,1.111765,4.529412,10.964706,29.488235,3.100000,4.288235,0.441176,13.647059
std,2.404638,0.308596,6.458047,3.546518,1.125303,0.780216,5.520458,8.392653,23.643866,1.876828,2.808352,0.543448,10.794702
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.250000,2.000000,0.000000,1.000000,0.000000,4.000000,7.250000,1.000000,2.000000,0.000000,3.000000
50%,1.000000,0.000000,5.000000,2.000000,1.000000,1.000000,2.000000,8.000000,22.500000,4.000000,3.000000,0.000000,11.000000
75%,4.000000,0.000000,8.000000,4.000000,1.000000,2.000000,8.000000,17.000000,50.750000,4.000000,6.000000,1.000000,22.000000
max,9.000000,1.000000,28.000000,12.000000,4.000000,3.000000,23.000000,29.000000,77.000000,6.000000,11.000000,2.000000,37.000000

In [19]:
# Array format:Description,Country,Quantity,revenue_buckets,price_buckets,final_revenue,dayofmonth,dayofyear,dayofweek,
# month,year,weekofyear
X_prediction=np.array([[1,1,121,4,5,16,7,8,9,11,2018,30]]) # new data
predictions = KNN_model.predict(X_prediction) # predictive function
predictions # display optimised price

array([2], dtype=int64)